html {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.title {
    font-weight: 500;
    font-size: 15px;
   text-align: center;
   padding-left: 20px;
   padding-right: 20px;
}

.img {
    height: 150px;
    width: 135px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 75px;
    
}
@media(max-width:780px) {
    .img {
      margin-left: 100px;
      padding-top: 10px;
    }
}

.year {
    font-weight: 400;
    font-size: 13px;
    color: rgba(2, 63, 35, 0.425);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media(max-width:780px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.authors {
   text-align: center;
   font-weight: 500;
   font-size: 13px;
   padding-left: 20px;
   padding-right: 20px;
   color: rgba(9, 109, 62, 0.973);
   background-color: rgba(10, 241, 133, 0.151);
   border-radius: 5px;
   margin-left: 20px;
   margin-right: 35px;
}

.flexButton {
    display: flex;
    justify-content: center;
}
    .button {
        color: #0c0c0c;
        outline: none;
        background-color: white;
        border-color: rgba(2, 63, 35, 0.192);
        border-width: 1px;
        font-size: 15px;
        font-weight: 500;
        width: 250px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    .button:hover {
        color: rgba(9, 109, 62, 0.973);
    }

.biblioteka {
    display: flex;
   
}
@media(min-width: 1024px) {
    .biblioteka {
        max-width: 1024px;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
}
@media(max-width:780px) {
    .biblioteka {
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
}
.fon-grey {
    background: rgb(240, 240, 240);
    height: 1500px;
}
@media(max-width:780px) {
    .fon-grey {
        height: 1800px;
    }
}

.flex-border {
    margin-right: 20px;
}

.border {
    border-radius: 10px;
    box-shadow: 2px 2px 2px  #d4d4d4;
    overflow: hidden;
    text-align: center;
    border: none;
}
@media(min-width:1024px) {
    .border {
        width: 25%;
        margin-top: 50px;
        margin-right: 20px; 
        margin-left: 30px;
    }
}
@media(max-width:780px) {
    .border {
        margin-top: 45px;
        margin-right: 50px; 
        margin-left: 50px;
    }
}

.fon-white {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}

.add-save-button {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.buttonAdd {
    color: rgba(9, 109, 62, 0.973);
    outline: none;
    background-color:  rgba(9, 109, 62, 0.158);
    border-color: rgba(255, 255, 255, 0.192);
    box-shadow: 2px 2px 2px  #40404079;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-right: 50px;
    margin-top: 20px;
}
.buttonAdd:hover {
    color: rgba(13, 61, 39, 0.973);
}

.buttonSave {
    color: rgba(9, 109, 62, 0.973);
    outline: none;
    background-color:  rgba(9, 109, 62, 0.158);
    border-color: rgba(255, 255, 255, 0.192);
    box-shadow: 2px 2px 2px  #40404079;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 500;
    width: 100px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-right: 50px;
    margin-top: 20px;
    display: none;
}
.buttonSave:hover {
    color: rgba(13, 61, 39, 0.973);
}


.container {
    display: none ;
}

.menu-button {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.input {
    padding: 5px 10px 5px 10px;
    margin-right: 50px;
    margin-top: 5px;
    border-color: rgba(255, 255, 255, 0.034);
    box-shadow: 2px 2px 3px  #40404079;
    border-radius: 5px;
}

.input:focus {
    outline: none;
    background-color: rgba(255, 255, 255, 0.034);
}
