html {
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.title {
    font-weight: 500;
    font-size: 15px;
   text-align: center;
   padding-left: 20px;
   padding-right: 20px;
}

.img {
    height: 150px;
    width: 135px;
    margin-bottom: 10px;
    margin-top: 30px;
    margin-left: 75px;
    
}
@media(max-width:780px) {
    .img {
      margin-left: 100px;
      padding-top: 10px;
    }
}

.year {
    font-weight: 400;
    font-size: 13px;
    color: rgba(2, 63, 35, 0.425);
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
@media(max-width:780px) {
    .flex {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

.authors {
   text-align: center;
   font-weight: 500;
   font-size: 13px;
   padding-left: 20px;
   padding-right: 20px;
   color: rgba(9, 109, 62, 0.973);
   background-color: rgba(10, 241, 133, 0.151);
   border-radius: 5px;
   margin-left: 20px;
   margin-right: 35px;
}

.flexButton {
    display: flex;
    justify-content: center;
}
    .button {
        color: #0c0c0c;
        outline: none;
        background-color: white;
        border-color: rgba(2, 63, 35, 0.192);
        border-width: 1px;
        font-size: 15px;
        font-weight: 500;
        width: 250px;
        padding-top: 10px;
        padding-bottom: 10px; 
    }
    .button:hover {
        color: rgba(9, 109, 62, 0.973);
    }

.biblioteka {
    display: flex;
   
}
@media(min-width: 1024px) {
    .biblioteka {
        max-width: 1024px;
        width: 100%;
        margin: auto;
        flex-wrap: wrap;
    }
}
@media(max-width:780px) {
    .biblioteka {
        display: flex; 
        flex-direction: column;
        justify-content: center;
    }
}
.fon-grey {
    background: rgba(230, 230, 230, 0.247);
    height: 1500px;
}
@media(max-width:780px) {
    .fon-grey {
        height: 1800px;
    }
}

.title-bookshelf {
    font-weight: 700;
   margin: auto;
   max-width: 1024px;
   width: 100%;
}
@media(min-width:1024px) {
    .title-bookshelf {
        font-size: 50px;
        display: flex;
        flex-direction: row;
       justify-content: space-between;
       padding-top: 100px;
    }
}
@media(max-width: 780px) {
    .title-bookshelf {
        font-size: 35px;
        padding-top: 35px;
        text-align: center;
    }
}

.flex-border {
    margin-right: 20px;
}

.border {
    border-radius: 10px;
    box-shadow: 2px 2px 2px  #d4d4d4;
    overflow: hidden;
    text-align: center;
    border: none;
}
@media(min-width:1024px) {
    .border {
        width: 30%;
        margin-top: 80px;
        margin-right: 30px;
    }
}
@media(max-width:780px) {
    .border {
        margin-top: 45px;
        margin-right: 50px; 
        margin-left: 50px;
    }
}

.fon-white {
    background-color: white;
    height: 400px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
   
}

.add-save-button {
   display: flex;
   flex-direction: column;
   justify-content: flex-end;
}

.buttonAdd {
    color: white;
    outline: none;
    background-color:  rgba(56, 126, 93, 0.801);
    border-color: rgba(255, 255, 255, 0.192);
    box-shadow: 2px 2px 2px  #40404079;
    border-width: 1px;
    border-radius: 5px;
    font-weight: 600;
    font-size: 15px;
    padding-top: 10px;
    padding-bottom: 10px; 
}
.buttonAdd:hover {
    color: black
}
@media(min-width:1024px) {
    .buttonAdd {
        width: 200px;
    }
}
@media(max-width:780px) {
    .buttonAdd {
        width: 150px;
        margin-top: 45px;
       
    }
}

.buttonSave {
    color: white;
    outline: none;
    background-color:  rgb(58, 104, 82);
    border-color: rgba(255, 255, 255, 0.192);
    box-shadow: 2px 2px 2px  #40404079;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 375px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-top: 10px;
}
.buttonSave:hover {
    color: black;
}

.menu-button {
    display: flex;
    flex-direction: column; 
}
@media (min-width: 1024px) {
    .menu-button {
        align-items: flex-end;
    }
}
@media (max-width: 780px) {
    .menu-button {
        align-items: center;
    }
}

.input {
    margin-bottom: 10px;
    padding: 10px 100px 10px 100px;
    border-color: rgba(255, 255, 255, 0.247);
    box-shadow: 2px 2px 3px  #40404079;
    border-radius: 5px;
    text-align: center;
}

.input:focus {
    outline: none;
    background-color: #3f444436;
}
.add-modal {
    background-color: rgba(133, 134, 134, 0.425);
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
}

.add-modal-content {
    background-color: rgba(71, 128, 101, 0.212);
    padding: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.h3 {
    font-size: 32px;
    padding-bottom: 25px;
    color: rgb(48, 80, 64);
}
  

.buttonClose {
    color: white;
    outline: none;
    background-color:  rgb(58, 104, 82);
    border-color: rgba(255, 255, 255, 0.192);
    box-shadow: 2px 2px 2px  #40404079;
    border-width: 1px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    width: 375px;
    padding-top: 10px;
    padding-bottom: 10px; 
    margin-top: 10px;
}

.buttonClose:hover {
    color: black;
}